.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 360px));
    gap: 16px;
    margin-top: 32px;
}

.empty,
.error {
    margin-top: 64px;
}

.inactive {
    // background-color: red;
    filter: brightness(0.5);
}
