.profile {
    display: grid;
    grid-template-columns: minmax(237px, 364px) auto;
    column-gap: 20px;
    color: var(--black);
}

.block {
    gap: 20px;
    color: var(--black);
    font-size: 31px;
    font-weight: 600;
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 64px;
    border-bottom: 1px solid var(--accent);
}

.active {
    color: var(--accent);
}

.inputs {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 50vw;
    height: 57px;
    input {
        width: 100%;
        height: 100%;
        color: var(--white, #fff);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    button {
        height: 100%;
        color: var(--white-color);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.6px;
    }
    label {
        min-width: 84px;
        color: var(--black);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.avatar {
    width: 237px;
    height: 242px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 16px;
    label {
        min-width: 84px;
        color: var(--black);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.save_changes {
    margin-top: 25px;
    width: 237px;
    height: 57px;
    flex-shrink: 0;
    cursor: pointer;
}

.close_profile {
    margin-top: 16px;
    width: 237px;
    height: 56.527px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--second-primary);
    cursor: pointer;
}

.button_isactive {
    transition: background 0.25s linear;
}

.button_isactive:disabled {
    user-select: none; // запрещает выделение текста P.S почему-то не работает
    cursor: not-allowed; // изменяет курсор на "не разрешено"
    background-color: var(--black);
}

.edit_button {
    transition: background 0.5s linear;
    cursor: pointer;
}
