.search {
    border-radius: 16px;
    background: var(--second-primary);
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 8px;
    height: 43px;
}

.input {
    width: 100%;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--second-primary);
    border: none;

    &::placeholder {
        color: var(--white-color);
    }
}
