.add-photo {
    background-position: center center;
    width: clamp(100px, 20vw, 200px);
    height: clamp(100px, 20vw, 200px);
    background-color: var(--second-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        width: 40%;
        height: 40%;
        object-fit: cover;
    }
    .photo-input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
}

.card {
    height: 100%;
    width: 100%;
}

// .wrapper {
//     height: 100%;
//     width: 100%;
// }

.wrapper {
    position: relative;
    &-del {
        display: none;
        background-color: rgba(0, 0, 0, 0.479);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 16px;
        svg {
            position: absolute;
            top: 8px;
            right: 8px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.photo {
    display: block;
    width: 100% !important;
    height: 100% !important;
    width: clamp(100px, 20vw, 200px) !important;
    height: clamp(100px, 20vw, 200px) !important;
    background-color: var(--second-primary);
    border-radius: 16px;
    object-fit: cover;
    opacity: 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.photos {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    // grid-template-columns: repeat(auto-fill, clamp(100px, 20vw, 200px));
    gap: 8px;
}

.wrapperCard {
    background-color: var(--second-primary);
    // opacity: 0.7;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
