.header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.popup {
    z-index: 10;
    top: -16px;
    position: absolute;
    right: 0;
}
