.header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup {
    z-index: 10;
    position: absolute;
    right: 0;
    top: -16px;
}
