.stars {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.star {
    path {
        fill: var(--second-primary);
        transition: fill 0.3s ease; // Добавьте это свойство
    }
}

.active {
    path {
        fill: var(--accent);
    }
}
