.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: var(--white-color);
    color: black;
    text-align: center;
    font-style: normal;
}

.title {
    margin-top: 16px;
    font-size: 31px;
    font-weight: 600;
}

.text {
    margin-top: 8px;
    font-size: 25px;
    font-weight: 400;
}
