.react-select {
    &__control {
        .react-select__dropdown-indicator {
            svg {
                transition: all 0.3s ease;
                fill: var(--white-color);
                &:hover {
                    fill: var(--gray);
                }
            }
        }

        &--is-focused {
            .react-select__dropdown-indicator {
                svg {
                    fill: var(--gray);
                }
            }
        }
    }
    &__control {
        border-radius: 16px;
        background: var(--second-primary);
    }

    &__indicator-separator {
        background-color: var(--white-color);
    }

    &__menu {
        background: var(--second-primary);
        color: var(--white-color);
    }
}

// #root
//     > div
//     > div.react-select-container.css-b62m3t-container
//     > div
//     > div.react-select__indicators.css-4xgw5l-IndicatorsContainer2
//     > div
//     > svg
//     > path {
//     fill: var(--white-color);

//     &:hover {
//         fill: var(--accent);
//     }
// }

// .react-select--is-focused.react-select-container.css-b62m3t-container
//     > div
//     > div.react-select__indicators.css-4xgw5l-IndicatorsContainer2
//     > div
//     > svg
//     > path {
//     fill: var(--accent);
// }
