.horizontal-slider {
    width: 300px;
    height: 25px;
    position: relative;
}

.example-thumb {
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.15s ease;
    &:focus {
        transform: scale(1.1);
    }
}

.example-track {
    position: absolute;
    top: 15px;
    bottom: 0;
    height: 2px;
    border-radius: 16px;
    background-color: var(--second-primary);
}

.example-track.example-track {
    background: var(--gray);
}

.example-track.example-track-1 {
    background: var(--second-primary);
}

.example-track.example-track-2 {
    background: var(--gray);
}
