.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.links {
    display: flex;
    gap: 60px;
    font-size: 16px;
    font-weight: 500;
    span {
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
        background-color: var(--accent);
    }
}

.active {
    color: var(--accent);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    transition: all 0.3s ease;
    &:hover {
        color: var(--accent);
    }
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--accent);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

.popup {
    z-index: 10;
    position: absolute;
    right: 0;
    top: -33px;
}
