.login {
    width: 100%;
    color: var(--black);
}

.title {
    font-size: 31px;
    font-weight: 600;
}

.form {
    margin-top: 32px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    input {
        height: 57px;
    }
}

.auth {
    h1 {
        font-size: 31px;
        font-weight: 600;
    }
}

.error {
    color: var(--accent);
    margin-bottom: 8px;
}

.button {
    width: 100%;
    margin-top: 32px;
}

.without {
    text-align: center;
    margin-top: 32px;
    a {
        color: var(--accent);
    }
}
