.product {
    display: grid;
    grid-template-columns: 878px auto;
    column-gap: 20px;
    color: var(--black);
}

.select {
    margin-top: 16px;
    width: auto;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title,
.price {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: var(--black);
    &::placeholder {
        color: var(--black) !important;
    }
}

.title {
    font-size: 39px;
    font-weight: 700;
}

.price {
    margin-top: 8px;
    font-size: 31px;
    font-weight: 600;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.views {
    display: flex;
    gap: 4px;
    align-items: center;
}

.area {
    &::-webkit-scrollbar-track {
        border-radius: 0 16px 16px 0;
    }
    flex: 1;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    width: 100%;
    height: 60%;
    border: none;
    background: none;
    resize: none;
    border: 1px solid var(--second-primary);
    border-radius: 16px;
    padding: 8px;
    &::placeholder {
        color: var(--black);
    }
}

.button {
    align-self: start;
    padding: 0 60px;
    justify-self: flex-start;
}

.action {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    align-items: center;
}

.change {
    border-radius: 16px;
    background-color: var(--third-primary);
    padding: 4px;
    border: 2px dashed var(--accent);
}

.active,
.loading {
    color: var(--accent);
}

.inactive,
.error {
    color: var(--second-primary);
}
