.content {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    background-color: var(--third-primary);
    padding: 16px;
    border-radius: 16px;
    justify-content: center;
}
