.filter {
    display: flex;
    gap: 48px;
    margin-top: 16px;
}

.item {
    width: 190px;
    display: block;
    color: var(--second-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.active {
    color: var(--white-color);
    background-color: var(--accent);
}
