.home {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 3fr 355px;
    gap: 16px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 360px));
    gap: 16px;
}

.up {
    position: fixed;
    bottom: 16px;
    right: 16px;
}
