.icon {
    display: block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    path {
        transition: all 0.3s ease-in-out;
        &:hover {
            fill: var(--accent);
        }
    }
}
