.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox__input {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    bottom: -4px;
    left: -4px;
    cursor: pointer;
}

.checkmark {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--second-primary);
    border-radius: 4px;
    margin-right: 10px;
}

.checkbox input:checked ~ .checkmark:after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 3px;
    left: 7px;
}
